body{
    margin: 0;
}
/*header start!*/
header{
    text-align: center;
    border: solid gray;
    background-color:gray;
    color: white;
    display: block;
}
header .title{
    font-size: 40px;
    margin-top: 0px;
}
header .subtitle{
    margin-bottom: 0px;
}
header a{
    display: block;
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 0;
}
header a:link{
    color: honeydew;
}
header a:visited{
    color: honeydew;
}
header a:hover{
    background-color: grey;
}
/*header finish!*/

/*top menu start!*/
#top_menu{
    font-size: 0;
    margin: 0;
    background-color:rgb(97, 96, 96);
    text-align: center;
    list-style: none;
}
#top_menu ul li{
    font-size: 15px;
    width: 150px;
    color: honeydew;
    display: inline-block;
    border: 1px solid;
    line-height: 30px;
    text-align: center;
}
#top_menu a{
    text-decoration: none;
    display: block;
}
#top_menu a:link{
    color: honeydew;
}
#top_menu a:visited{
    color: honeydew;
}
#top_menu li:hover, a:hover{
    background-color: grey;
}

.dropdown{
    color: gray;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: black;
}
.dropdown-content a {
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    text-decoration: none;
    text-align: left;
    width: 180px;
    border: solid rgb(97, 96, 96) 1px;
}

.dropdown:hover .dropdown-content{
    display: block;
    color: gray;
}
.dropdown-content a:hover a{
    background-color: gray;
}
/*top_menu finish!*/


/*Site Layout start!*/
#Site_AllBox{
    margin: 0 auto;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
    width: 600px;
    background-color: #eeeeee;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
#Site_AllBox h3{
    margin: 0;
    margin-bottom: 3%;
    padding: 3%;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: dotted 1px gray;
}
#Site_AllBox iframe{
    padding-top: 30px;
}
#Sitetotop{
    text-align: left;
    border: 2px solid rgb(97, 96, 96);
    background-color: gray;
    width: 960px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#Sitetotop a{
    text-decoration: none;
}
#Sitetotop a:link{
    color: honeydew;
}
#Sitetotop a:visited{   
    color: honeydew;
}
/*Site Layout finish!*/


/*gpacalculator.html CSS start!*/
#GPA_formula{
    text-align: left;
    list-style: none;
}
#GPA_formula a{
    text-decoration: none;
}
#GPA_formula a:link{
    color: black;
}
#GPA_formula a:visited{
    color: black;
}
#GPA_formula img{
    margin-top: 30px;
    border: 1px solid;
    padding: 5px;
    background-color: white;
}
#GPA_formula ul li{
    list-style: none;
}

#GPA_calculator{
    list-style: none;
    text-align: left;
}
fieldset li{
    padding-top: 2%;
    padding-bottom: 2%;
}
#Calculator{
    background-color: #E2E2E2;
    width: 250px;
    border-right: dashed 1px;
    padding: 25px;
    background-clip: content-box;
}
#Calculator label{
    width: 40%;
    float:left;
    text-align:left;
}
#Calculator input{
    width: 50%;
    text-align: right;
}
#Calculator input[type="button"]{
    background-color: #5F5F5F;
    color: white;
    float: right;
    text-align: center;
    width: 70px;
    margin-top: 10px;
    margin-right: 3px;
    height: 30px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#GPA_calculator{
    display: grid;
    grid-template-columns: 300px 300px;
}

#Result{
    width: 250px;
    padding: 25px;
    padding-top: 30%;
}
#Result label{
    width: 100px;
    float: left;
    text-align: left;
}
#Result input{
    width:70px;
    text-align: right;
}

/*gpacalculator.html CSS finish!*/

/*requirementsforgraduation.html CSS start!*/

#graduation {
    margin: 2%;
    padding: 1%;
}
#graduation p{
    text-align: left;
}

#graduation_calculator{
    display: none;
}
#graduation_calculator fieldset{
    width: 80%;
    margin: 0 auto;
    background-color: #E2E2E2;
    margin-bottom: 3%;
}
#graduation_calculator fieldset legend{
    font-size: 18px;
    font-weight: bold;
    
}
#graduation_calculator fieldset li{
    border-bottom: dashed 1px;
    border-collapse: separate;
    padding: 2%;
    list-style-type: none;
}
#graduation_calculator fieldset li label{
    text-align: left;
    width: 70%;
    float: left;
}
#graduation_calculator fieldset li input{
    width: 20%;
    text-align: right;
    display: flex;
    margin-left: auto;
    
}
#graduation_calculator fieldset li input::-webkit-input-placeholder{
    text-align: right;
}
#graduation_calculator fieldset input{
    margin-top: 2%;
}






















/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/ 

@media (min-width: 320px) and (max-width: 480px) {
    header{
        width: auto;
    }
    #top_menu{
        margin:0;   
    }
    #top_menu ul{
        padding: 0;
    }
    #top_menu ul li{
        border: none;
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: auto;
        display: block;
        text-align: left;
    }
    #top_menu ul li a{
        padding: 3%;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: gray;
        color: gray;
    }
    .dropdown-content a {
        list-style: circle;
        color: black;
        text-decoration: none;
        text-align: center;
        width: auto;
        border-top: dashed 1px;
    }
    .dropdown:hover .dropdown-content{
        position: relative;
    }
    .dropdown-content a:hover{
        background-color: #778899;
    }
    #Site_AllBox{
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #Site_AllBox iframe{
        width: auto;
        height: auto;
    }
    #GPA_formula{
        padding: 3%;
    }
    #GPA_formula img{
        width: 100%;        
    }
    #GPA_formula p{
        width: 100%;
    }
    #GPA_calculator{
        display: inline-block;
    }
    #Calculator{
        margin: auto;
        border: none;
        width: 100%;
        height: 100%;
    }
    fieldset {
        padding:2%;
    }
    #Calculator label{
        display: inline-block;
        width: 40%;
    }
    #Calculator input{
        display: inline-block;
        width: 50%;
    }

    #Result{
        margin: auto;
        padding: 25px;
    }
    #graduation{
        margin: 3%;
    }
    #graduation select, input{
        margin: 2%;
        display: block;
    }
    #graduation_calculator {
        width: 100%;
    }
    #graduation_calculator fieldset li{
        padding-bottom: 5%;
        padding-top: 5%;
    }
    #graduation_calculator fieldset input{
        margin-top: 4%;
        display: inline;
    } 
    #graduation_calculator fieldset li label{
        width: 70%;
    }
    #graduation_calculator fieldset li input{
        width: 20%;
    }
}

/*모바일 모드 가로 스크롤 금지*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
    }










