body{
    margin: 0;
}
header{
    text-align: center;
    border: solid gray;
    background-color:gray;
    color: white;
    display: block;
}
header .title{
    font-size: 40px;
    margin-top: 0px;
}
header .subtitle{
    margin-bottom: 0px;
}
header a{
    display: block;
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 0;
}
header a:link{
    color: honeydew;
}
header a:visited{
    color: honeydew;
}
header a:hover{
    background-color: grey;
}

/*top menu*/
#top_menu{
    font-size: 0;
    margin: 0;
    background-color:rgb(97, 96, 96);
    text-align: center;
    list-style: none;
}
#top_menu ul li{
    font-size: 15px;
    width: 150px;
    color: honeydew;
    display: inline-block;
    border: 1px solid;
    line-height: 30px;
}
#top_menu a{
    text-decoration: none;
    display: block;
}
#top_menu a:link{
    color: honeydew;
}
#top_menu a:visited{
    color: honeydew;
}
#top_menu li:hover, a:hover{
    background-color: grey;
}

.dropdown{
    color: gray;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: black;
}
.dropdown-content a {
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    text-decoration: none;
    text-align: left;
    width: 180px;
    border: solid rgb(97, 96, 96) 1px;
}

.dropdown:hover .dropdown-content{
    display: block;
    color: gray;
}
.dropdown-content a:hover a{
    background-color: gray;
}













#Site_AllBox{
    margin: 0 auto;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
    width: 600px;
    background-color: #eeeeee;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
#Site_AllBox h3{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: dotted 1px gray;
}
#Site_AllBox iframe{
    padding-top: 30px;
}
#Sitetotop{
    text-align: left;
    border: 2px solid rgb(97, 96, 96);
    background-color: gray;
    width: 960px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#Sitetotop a{
    text-decoration: none;
}
#Sitetotop a:link{
    color: honeydew;
}
#Sitetotop a:visited{   
    color: honeydew;